<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">

<div class="navbar">
<a href="javascript:history.back()" class="back-btn">⬅</a>
<div class="nav-title">Register</div>
</div>

<div class="container">

<div class="card">

<form method="post">
<input name="name" placeholder="Name">
<input name="email" placeholder="Email">
<input name="password" placeholder="Password">
<button>Register</button>
</form>

</div>
</div>